<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
</div>
<div class=" flex  gap-4 ml-10 mr-10 mb-10">
  <div class="  border-4 w-11/12 h-96  rounded-md shadow-2xl shadow-blue-600 border-blue-400  justify-between mt-10 ml-10">
      <p>JOB POST</p>


  </div>
  <div class="border-4  w-11/12 h-96 rounded-md shadow-2xl shadow-blue-600 border-blue-400   justify-between mt-10 ml-10">
      <p>JOB POST</p>
</div>
</div>

    
</body>
</html>