<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body>
    <div class="">
      <header class="bg-blue-600 text-white py-6">
        <nav class="ClassName mx-auto flex justify-between items-center">
          <img
            style="width: 200px; height: 150px; padding-left: 50px"
            src="/Frontend/src/Images/JOB LADDER.jpg"
            alt=""
          />
          <a
            href="#"
            class="animate-bounce mr-96 text-5xl font-extrabold text-white"
            >JOB LADDER</a
          >
          <ul class="flex items-center">
            <li class="mr-4">
              <a
                href="/Frontend/Pages/HomePage4.html"
                class="text-3xl mr-28 hover:first-letter:J border-blue-700"
                >Job Seekers</a
              >
            </li>

            <li class="mr-4">
              <a href="#" class="text-3xl mr-16">Employers</a>
            </li>

            <li>
              <a
                href="/Frontend/Pages/SignupPage.html"
                class="font-extrabold text-3xl mr-20"
                >JOIN JOB LADDER</a
              >
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </body>
</html>
